// color
$primary: #fecb3d;
$m-primary: #fee59e;
$s-primary: #fff5d8;

$secondary: #7e549e;
$m-secondary: #a587bb;
$s-secondary: #f2eef5;

$black: #212121;

$gray: #9e9e9e;
$d-gray: #554653;

$red: #e74c3c;

$white: #ffffff;

$padding-container: 1.6rem;
%px-container {
  padding-left: $padding-container;
  padding-right: $padding-container;
}
$padding-bottom-extra-space: 6rem;

$text-xxs-size: 1rem;
$text-xs-size: 1.2rem;
$text-sm-size: 1.4rem;
$text-base-size: 1.6rem;
$text-lg-size: 2rem;
$text-xl-size: 2.2rem;
$text-xxl-size: 2.4rem;
$text-xxxl-size: 3rem;

%text-xxs {
  font-size: $text-xxs-size;
  line-height: 140%;
}
%text-xs {
  font-size: $text-xs-size;
  line-height: 140%;
}
%text-sm {
  font-size: $text-sm-size;
  line-height: 140%;
  letter-spacing: 0;
}
%text-base {
  font-size: $text-base-size;
  line-height: 170%;
  letter-spacing: -0.5%;
}
%text-lg {
  font-size: $text-lg-size;
  line-height: normal;
  letter-spacing: -1%;
}
%text-xl {
  font-size: $text-xl-size;
  line-height: normal;
  letter-spacing: -1%;
}
%text-xxl {
  font-size: $text-xxl-size;
  line-height: normal;
}
%text-xxxl {
  font-size: $text-xxxl-size;
  line-height: normal;
}

%ellipsis {
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
