ion-toolbar {
  --padding-start: 2rem !important;
  --padding-end: 2rem !important;
  --min-height: 5.6rem !important;
  --border-color: transparent;
  box-shadow: 0px 1px 2px var(--ion-box-shadow-color);
  margin: 0;

  .toolbar-container {
    padding: 0 !important;
  }
}

ion-button {
  --padding-top: 4px; // TODO : 버튼 내 글자 여백에 문제가 있음 왜 그런지 파악 필요
}

ion-toast {
  --color: var(--ion-text-color);

  &::part(message) {
    text-align: center !important;
  }
}

ion-alert {
  .alert-button-inner {
    color: var(--ion-color-secondary);
  }
}

ion-toggle {
  --handle-background: white;
  --handle-background-checked: white;
  --background: var(--ion-color-medium);
  --background-checked: var(--ion-color-secondary);
}

ion-label,
ion-note,
ion-select {
  font-size: $text-base-size !important;
}

ion-header {
  // 노치가 있는경우 여백을 줌
  padding-top: calc(env(safe-area-inset-top, 0));
}

ion-footer {
  padding-bottom: calc(env(safe-area-inset-bottom, 0) / 2);
}
