/* ionic 기본 content의 경우 변수 사용이 작동하지 않음 */

ion-toolbar {
  padding-left: $padding-container;
  padding-right: $padding-container;
}

// TODO: check on iphone
ion-searchbar {
  margin-bottom: -1rem;
}

ion-button {
  --padding-top: 4px; // TODO : 버튼 내 글자 여백에 문제가 있음 왜 그런지 파악 필요
}
