@import '../../theme/_variable';
@import '../../theme/functional';

.corner {
  width: 4rem !important;
  height: 4rem !important;
}

.bottom-radius {
  border-top-left-radius: 4rem;
}

.right-radius {
  border-bottom-left-radius: 4rem;
}

.dark {
  @extend .dark-40;
}
