@import '../../theme/variable';

.comment-insert-container {
  ion-textarea {
    margin: 0;
    textarea {
      --padding-top: 0.8rem;
      --padding-bottom: 0.8rem;
      &::placeholder {
        font-size: $text-base-size !important;
      }
    }
  }
}
