@import '../../theme/variable';
@import '../../theme/functional.scss';

ul.feed-list {
  li {
    border-bottom: 10px solid var(--ion-border-color);
  }

  li:last-child {
    border-bottom: 0;
  }
}
