@import './theme/variable';
@import './theme/functional';

.badge {
  position: absolute;
  right: 25%;
  top: 20%;
  width: 0.8rem;
  height: 0.8rem;
  background: $secondary;
  border-radius: 50%;
}

.active-style {
  @extend .icon-primary;
}

.no-active-style {
  @extend .icon-gray;
}
